@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

#logo{
    height:60px !important;
    width: 70px !important;
  }

  .navbar-item img{
    max-height: 100% !important;
    
  }

  .navbar-item{
    max-height: 100% !important;
  }

#homeScore, #awayScore{
    width:100px !important;
  }

  h1{
    font-family: 'Montserrat', sans-serif;
font-weight: bold;
  }
  
  
  a.navbar-item{
    text-decoration: underline solid transparent;
    text-underline-offset: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; 
    transition: text-decoration 0.5s ease;
}
  a.navbar-item:hover{

    background-color: transparent !important;
    text-decoration: underline;
text-underline-offset: 15px;
}

table{
  height: 100%;
  width: 75%;
}