@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Make the font Montserrat and make the background colour a dark black */

body{

    color:white;
    font-family: 'Montserrat', sans-serif;
    background-color: #242526;
}

/* Ensure the lists have no styles */

ul{
    list-style-type:none;
}

/* Ensure that the container takes up the whole width*/

.container{
width:100%;
    margin:0;
    padding:0;
    padding-left: 20px;
    padding-right:50px;
    
}
/* Ensure that the navbar is taking the whole width. 
Adds a transition for the hamburger menu (when extended out) which is used for smaller screen sizes.
*/
.navbar{
    
  width: 100%;
  top: 0;
  left: 0;
    background:#242526;
    color:white;
    height:60px;
    z-index: 1;
    transition:0.5s;
    position: absolute;
}

/* Made the logo a div so when you hover over it, it changes colour */

.logo{
    /*width:2.5%;*/
    width: 30px;
    /*height:55%;*/
    height: 30px;
   background:url('../images/logo.png') no-repeat;
   background-size: cover;
z-index:5;
transition:0.5s;
}
/* On hover change the logo colour */

.logo:hover{
    width: 30px;
    height: 30px;
   background:url('../images/logo2.png') no-repeat;
   background-size: cover;
z-index:5;
transition:0.5s;
cursor:pointer;
}

/* Make sure all the a tags are white and have no text decoration
Adds a transition for when you hover over them
*/
.navbar a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;

}
/* 
Makes the navbar and the container flex and uses justify cintent space between aswell as align items center
*/
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%
}
/* 
Ensure the margin is 0 all around for 
the navbar, container and logo
*/
.navbar .container .logo{
   margin:0;
}
/* Make the UL display flex */

.navbar ul{
    display:flex;
}
/* Add margin to the ul and li */

.navbar ul li{
    margin-left:20px;
}
/* On hover change the text to red and add a underline
The offset changes how far down the underline is from the text
*/
.navbar a:hover{
    color:red;
    transition: 0.5s;
    text-decoration: underline;
    text-underline-offset: 15px;
}
/* Make the footer display block */
footer {
    display: block;
  }
    /* Make the min-height 500px
  Ensure the color of the text is white and centered
  */
#showcase{
    min-height: 500px;
    color:white;
    text-align: center;    
}

/* 
Style the video on the showcase
*/

#showcase .bg-image{
  
    object-fit: cover;
    background: no-repeat;
    background-size: cover; 
   width:100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: -1;
   opacity:0.7;
   position: relative;

}
/* Add margin and stylize 
the text in the main footer */
#main-footer{
    display: block;
margin-top: 50px;
    background-color:#696969;
    color:white;
    text-align: center;
    font-size: 17px;
}
/* Ensure that the a tags in the main footer have no 
text decoration */
#main-footer a{
    text-decoration: none;
    color:white;
    transition: 0.5s;
    letter-spacing: 10px;
}
/* On hover make the links red and add a transition */

#main-footer a:hover{
    transition: 0.5s;
    color: red;
}

/* Style the text on the video showcase */

#showcase h1{
    font-family: chinese-rocks, sans-serif;
    font-size: 200px;
    letter-spacing: 50px;
    margin-top:350px;
   position: absolute;
   top:0;
   margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
   transition:0.5s;

}
/* Remove subscribe button */
#smgc-cal-dsQeimMoyHZe69XHA2wH a.add-calendar-button span.subscribe{
    display: none !important;
}
/* Remove add button */
#smgc-cal-dsQeimMoyHZe69XHA2wH a.add-calendar-button span.plus{
    display: none !important;
}
/* make the size of the calendar smaller and center it */
#smgc-cal-dsQeimMoyHZe69XHA2wH-html-container{
margin:auto !important;
    width: 75% !important;
    height: 75% !important;
}

/* Do not display the hamburger menu at this screen size */

.navbar label, #hamburger{
    display: none;
} 

/* Add margin to the calendar */
.smgc-calendar-placeholder{
    margin-top: 500px !important;
}

/* Style the h2 tags */
h2{
    margin-top: 50px;
    text-align: center;
    color:red;
    font-size: 50px;
    display: block;
  }

  /* remove watermark */
  img{
    display: none !important;
  }


  /* Add a media query for screen sizes less than or equal to 1099px */
@media(max-width:1099px){
    body {
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
                /* Make the font smaller */

    #we-the-north{
        /*Overrides previous css*/
        font-size: 150px !important;
        letter-spacing: 30px;
        padding-left:13px;
        margin-top: 120px !important;
    }
}

  /* Add a media query for screen sizes less than or equal to 950px */

@media(max-width:950px){
 
/*Prevents overflow*/
    body {
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
            /* Add margin to the font*/

    #we-the-north{
        margin-top: 50px;
    }
     
    
            /* Make the font smaller */

    #we-the-north{
        /*Overrides previous css*/
        font-size: 100px !important;
        letter-spacing: 30px;
        padding-left:13px;
        margin-top:100px !important;
    }
/* make the navbar static to prevent the 
    hamburger menu overlapping the showcase video */
    .navbar{
        position: static;
    }
             /* Make the text stack on top of each other */

    .navbar ul{
        box-sizing: border-box;
        display: block;
        width: 800px ;
        border-top: 1px solid #333;
        z-index: 10;

      }
   
     
      /* (B) SHOW HAMBURGER ICON */
      .navbar label { 
        display: inline-block; 
        color: white;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
        transition: 0.5s;
        z-index: 10;
      }
      /* On the hover of the hamburger menu change colour */

      .navbar label:hover{
        color:red;
        transition: 0.5s;
        cursor:pointer;
      }
    
      /* (C) TOGGLE SHOW/HIDE MENU */
     
     
      .navbar ul{
        display: none;
        transition:0.5s;

      }

                    /* If the hamburger menu is clicked make the ul display block */

      #hamburger:checked ~ .navbar ul{
display: block;
padding-top:100px;
line-height: 2.5em;
transition:0.5s;

}
/* if the hamburger menu is checked move the showcase text down */

#hamburger:checked ~ #showcase .content-wrap #we-the-north{
    margin-top: 600px !important;
    transition:0.5s;
        }
      /* Change the height of the navbar if it is checked
    add a transition aswell
    */
#hamburger:checked ~ .navbar{
    height:500px;
    transition:0.5s;

}
/* Make the logo stay at the top left of the navbar */

#hamburger:checked ~ .navbar .container .logo{
margin-top:-220px;
left:0px;
}
/* Make the label stay at the top right of the navbar */

#hamburger:checked ~ .navbar .container label{
    margin-top:-400px;
    left:0px;
    }
   
    /* Creates a media query for screens less than or equal to 780px */

    @media(max-width:780px){

        body{
            width:100%;
        }
                                /* Makes the font for the showcase fit properly */

        #we-the-north{
            /*Overrides previous css*/
            font-size: 65px !important;
            margin-top:110px !important;
            text-align: center !important;
            letter-spacing: 20px !important;
        }
       
        /* if the hamburger menu is checked move the text down */

        #hamburger:checked ~ #showcase .content-wrap #we-the-north{
            margin-top: 550px !important;
            transition:0.5s;
                }
    }

}