@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{

    color:white;
    font-family: 'Montserrat', sans-serif;
    background-color: #242526;
}


ul{
    list-style-type:none;
}


.container{
width:100%;
    margin:0;
    padding:0;
    padding-left: 20px;
    padding-right:50px;
    
}
.navbar{
    
  width: 100%;
  top: 0;
  left: 0;
    background:#242526;
    color:white;
    height:60px;
    z-index: 1;
    transition:0.5s;
    position: absolute;
}


.logo{
    /*width:2.5%;*/
    width: 30px;
    /*height:55%;*/
    height: 30px;
   background:url('../images/logo.png') no-repeat;
   background-size: cover;
z-index:5;
transition:0.5s;
}

.logo:hover{
    width: 30px;
    height: 30px;
   background:url('../images/logo2.png') no-repeat;
   background-size: cover;
z-index:5;
transition:0.5s;
cursor:pointer;
}


.navbar a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;

}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%
}

.navbar .container .logo{
   margin:0;
}

.navbar ul{
    display:flex;
}

.navbar ul li{
    margin-left:20px;
}

.navbar a:hover{
    color:red;
    transition: 0.5s;
    text-decoration: underline;
    text-underline-offset: 15px;
}

footer {
    display: block;
  }

#showcase{
    min-height: 500px;
    color:white;
    text-align: center;    
}



#showcase .bg-image{
  
    object-fit: cover;
    background: no-repeat;
    background-size: cover; 
   width:100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: -1;
   opacity:0.7;
   position: relative;

}

#main-footer{
    display: block;
margin-top: 50px;
    background-color:#696969;
    color:white;
    text-align: center;
    font-size: 17px;
}

#main-footer a{
    text-decoration: none;
    color:white;
    transition: 0.5s;
    letter-spacing: 10px;
}

#main-footer a:hover{
    transition: 0.5s;
    color: red;
}


#showcase h1{
    font-family: chinese-rocks, sans-serif;
    font-size: 200px;
    letter-spacing: 50px;
    margin-top:350px;
   position: absolute;
   top:0;
   margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
   transition:0.5s;

}

#smgc-cal-dsQeimMoyHZe69XHA2wH a.add-calendar-button span.subscribe{
    display: none !important;
}

#smgc-cal-dsQeimMoyHZe69XHA2wH a.add-calendar-button span.plus{
    display: none !important;
}

.navbar label, #hamburger{
    display: none;
} 


.smgc-calendar-placeholder{
    margin-top: 500px !important;
}

h2{
    margin-top: 50px;
    text-align: center;
    color:red;
    font-size: 50px;
    display: block;
  }

  img{
    display: none !important;
  }


  
@media(max-width:1099px){
    body {
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    #we-the-north{
        /*Overrides previous css*/
        font-size: 150px !important;
        letter-spacing: 30px;
        padding-left:13px;
        padding-top:12.5% !important;
    }
}
@media(max-width:950px){
 
/*Prevents overflow*/
    body {
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    #we-the-north{
        margin-top: 50px;
    }
    .row{
        display: block;
    }
    

    #we-the-north{
        /*Overrides previous css*/
        font-size: 100px !important;
        letter-spacing: 30px;
        padding-left:13px;
        margin-top:100px !important;
    }

    .navbar{
        position: static;
    }
   
    .navbar ul{
        box-sizing: border-box;
        display: block;
        width: 800px ;
        border-top: 1px solid #333;
        z-index: 10;

      }
   
     
      /* (B) SHOW HAMBURGER ICON */
      .navbar label { 
        display: inline-block; 
        color: white;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
        transition: 0.5s;
        z-index: 10;
      }

      .navbar label:hover{
        color:red;
        transition: 0.5s;
        cursor:pointer;
      }
    
      /* (C) TOGGLE SHOW/HIDE MENU */
     
     
      .navbar ul{
        display: none;
        transition:0.5s;

      }

     
      #hamburger:checked ~ .navbar ul{
display: block;
padding-top:100px;
line-height: 2.5em;
transition:0.5s;

}

#hamburger:checked ~ #showcase .content-wrap #we-the-north{
    margin-top: 600px !important;
    transition:0.5s;
        }
    
#hamburger:checked ~ .navbar{
    height:500px;
    transition:0.5s;

}
#hamburger:checked ~ .navbar .container .logo{
margin-top:-220px;
left:0px;
}
#hamburger:checked ~ .navbar .container label{
    margin-top:-400px;
    left:0px;
    }
   

    @media(max-width:780px){

        body{
            width:100%;
        }
        #we-the-north{
            /*Overrides previous css*/
            font-size: 65px !important;
            margin-top:110px !important;
            text-align: center !important;
            letter-spacing: 20px !important;
        }

        #grid2dwrap{
            margin-top:-200px !important;
          
        }

        #hamburger:checked ~ #showcase .content-wrap #we-the-north{
            margin-top: 550px !important;
            transition:0.5s;
                }
    }

}