@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{

    color:white;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type:none;
}


.container{
width:100%;
    margin:0;
    padding:0;
    padding-left: 20px;
    padding-right:50px;
    
}
.navbar{
    
  width: 100%;
  top: 0;
  left: 0;
    background:#242526;
    color:white;
    height:60px;
    z-index: 1;
}


.logo{
    /*width:2.5%;*/
    width: 250px;
    height:55%;
   background:url('../images/logo.png') no-repeat;
   background-size: contain;
z-index:5;
transition:0.5s;
}

.logo:hover{
    width:2.5%;
    height:55%;
   background:url('../images/logo2.png') no-repeat;
   background-size: contain;
z-index:5;
transition:0.5s;
cursor:pointer;
}


.navbar a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;

}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%
}

.navbar .container .logo{
   margin:0;
}

.navbar ul{
    display:flex;
}

.navbar ul li{
    margin-left:20px;
}

.navbar a:hover{
    color:red;
    transition: 0.5s;
    text-decoration: underline;
    text-underline-offset: 15px;
}

#showcase{
    min-height: 450px;
    color:white;
    text-align: center;    
}



#showcase .bg-image{
    object-fit: cover;
    background: no-repeat;
    background-size: cover; 
   width:100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: -1;
   opacity:0.7;
   position: absolute;

}

#showcase h1{
    font-family: chinese-rocks, sans-serif;
    font-size: 200px;
    letter-spacing: 50px;
    padding-top:15%;
    text-align: center;
    

}

.navbar label, #hamburger{
    display: none;
} 

@media(max-width:768px){
 
/*Prevents overflow*/
    body {
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

  
    .navbar ul{
        box-sizing: border-box;
        display: block;
        width: 100% ;
        border-top: 1px solid #333;
      }
   
     
      /* (B) SHOW HAMBURGER ICON */
      .navbar label { 
        display: inline-block; 
        color: white;
        background: #a02620;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
      }
    
      /* (C) TOGGLE SHOW/HIDE MENU */
     
     
      .navbar ul{
        display: none;
      }
     nav input:checked ~ .container ul{
display: block;
}
    }
